<h1>Example App: Home</h1>
{{title}}

<script>
    const apis = {
        createData : function(data){
            console.log(JSON.stringify(data.data))
            return $.ajax({
                url: 'http://localhost:4200/api/segment',
                method: "POST",
                data: data.data,
                contentType: "application/json",
                async: true
            }) 
        }
    }
    const es = "{{{eventSource.url}}}"
    const eventSource = new EventSource(es);
    eventSource.addEventListener('segment-details', async (e)=>{
        const resp = await apis.createData(e)
    })

    
</script>